<div class="container">
    <table class="table table-bordered">
        <thead>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Website</th>
            <th>Address</th>
        </thead>
        <tbody>
            <tr *ngFor="let user of info">
                <td>{{user.name}}</td>
                <td>{{user.username}}</td>
                <td >{{user.email}}</td>
                <td>{{user.website}}</td>
                <td>{{user.address.city}}</td>
    
            </tr>
        </tbody>
    </table>
    </div>
    
